# Ignore tmp dir
tmp/*

# Ignore project files
*.project
*.pydevproject

# Ignore binaries / object files
stylec
*.js.o

# Ignore dirs
*/Go/bin
*/Go/pkg
*/C++/bin

# Ignore temp scripts
*/bin/*.js

# Ignore demo CSS output
tmp.css
