a {
	font-weight: bold;
	text-decoration: none
}

a:hover {
	text-decoration: underline;
	background: red;
	font-family: Arial;
	border: red 1px solid;
	margin: 3em
}

body {
	font-weight: bold;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px/14px;
	cursor: default;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: red;
	background-color: green;
	background-color: blue;
	background-image: url(myPicture.png)
}

body a {
	font-weight: bold;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px/14px;
	color: red
}

body a:hover {
	color: black
}

strong body a {
	font-weight: bold
}

header {
	margin: 10px auto 0 auto;
	width: 800px;
	text-align: left;
	background: #0b8957;
	background: #a8f35e;
	background: #56bfb7;
	background: #69a073;
	background: #a0641b;
	background: #6a6e7f;
	background: #6fd004;
	background: #724f0b;
	background: #ca392b;
	background: #675fd0
}

header h1 {
	margin: 0;
	background: #E0E4CC;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255, 255, 255)), color-stop(100%,rgb(224, 228, 204)))
}

header ul {
	margin: 10px 0 0 0;
	padding: 5px 4px 5px 4px;
	list-style: none;
	background-color: #fff;
	display: block;
	width: 800px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 5px rgb(224, 228, 204);
	-webkit-box-shadow: 0 0 5px rgb(224, 228, 204);
	box-shadow: 0 0 5px #E0E4CC;
	color: #635f53;
	background: #E0E4CC;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255, 255, 255)), color-stop(100%,rgb(224, 228, 204)))
}

header ul li:last-child {
	margin-right: 0;
	background: #E0E4CC;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255, 255, 255)), color-stop(100%,rgb(224, 228, 204)))
}

header ul strong, header ul a {
	padding: 2px 5px 3px 5px;
	font-size: 12px;
	margin: 0;
	border: transparent 1px solid
}

header ul strong, header ul a:hover {
	font-weight: normal;
	background-color: rgb(255, 255, 255);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0 0 10px rgb(224, 228, 204);
	-webkit-box-shadow: inset 0 0 10px rgb(224, 228, 204);
	boxshadow: inset 0 0 10px rgb(224, 228, 204);
	border: rgb(224, 228, 204) 1px solid
}

header ul a {
	text-decoration: none
}

header li {
	display: inline-block;
	padding: 3px 0 4px 0;
	margin-right: 5px;
	height: 34px;
	background: #0b8957;
	background: #a8f35e;
	background: #56bfb7;
	background: #69a073;
	background: #a0641b;
	background: #6a6e7f;
	background: #6fd004;
	background: #724f0b;
	background: #ca392b;
	background: #675fd0
}